*{ 
    padding: 0; 
    box-sizing: border-box; 
} 
body{ 
    font-family: 'Inter', sans-serif;
    background:  #fff; 
    color: #000; 
    font-size: 14px; 
    line-height: 1.3; 
    margin: 0;
    font-weight: 400;
} 
a{ 
    text-decoration: none; 
    color: inherit; 
} 
li{ 
    list-style: none; 
} 
.container{ 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 15px;
} 
.nav{
    background-color: #fff;
    border-bottom: 2px E5E5E5 solid;
    padding: 30px 0;
}
.nav-inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.logo{
    padding: 0 50px;
}
.nav-left{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
}
.nav-botoms{
    display: flex;
    align-items: center;
}
.item{
    margin-right: 28px;
    font-weight: 500;
}.nav-icon{
    width: 40px;
    height: 40px;
    align-items: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 28px;
}.constructor{
    background-color: #fff;
    padding: 12px ;
    border-radius: 10px;
    box-shadow: 0px 4px 7px rgba (0, 0, 0, 0, 15);
}
.con-icon{
    margin-left: 10px;
}
.main-info{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    background-image: url(../img/interactive.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;

}
.main-info-1{
    font-size: 40px;
}
.brend-title{
    font-size: 23px;
    background-size: cover;
    
}
.text-line{
    text-decoration: underline #FFA630 6px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-image: url(../img/linia.png);
}
.main-buttum{
    text-align: center;
    background: #10BB87;
    width: 171px;
    height: 40px;
    box-shadow: 0px 9px 25px -4px rgba(72, 123, 108, 0.5);
    border-radius: 10px;
    border: none;
    display: inline-block;
}
.container-inner{
    /* display: flex; */
    max-width: 960px;
    margin: auto;
}
.col{
    left: calc(50% - 461px/2 - 639px);
    top: calc(90% - 548.66px/2 - 2.52px);
    background: url(../img/interactive.png);
}
.row {
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center ;

}
.brading{
    padding-bottom: 70px;
    border-bottom: 2px solid  #F2F2F2;
}
.col-1{
    width: 131px;
    height: 40px;
    background: #10BB87;
    border-radius: 10px;
}
.brend-img{
    background: #f4f01c;
    border-radius: 28px;
    width: 20%;
    justify-content: center;
    align-items: center;
}
.text-line{
    background-image: url(../img/linia.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
}
.brading-img{
    max-width: 480px;
}
.brading-col{
    width: 192px;
}
.brading-title{
    font-weight: 600;
    position: relative;
    padding-top: 55px;
}
.brading-title::before{
    content: "";
    width: 46px;
    height: 41px;
    position: absolute;
    background-image: url(../img/okei.png) -12 -208px;
    top: 0;
}
.brading-col p{
    color: #fff;
}
.row{
    justify-content: space-between;

}
.row-info{
    width: 45%;
    height: 10px;
    border-radius: 5px;
}
.col{
    width: 34px;
    height: 8px;
    left: 215px;
    top: 1998px;
}
.block{
    width: 426px;
    height: 389px;
    box-shadow: 0 3px 14px rgb(248, 248, 248);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
    align-items: center;
    border-top: 28px solid #000;
    border-radius: 20px;
}
.block-img{
    width: 100px;
    height: 396px;
    box-shadow: 0 3px 14px rgb(248, 248, 248);
    margin-bottom: -340px;
    border-top: 28px solid #000;
    border-radius: 20px;
}
